<h1>Welcome My Consultora</h1>
<div class="btn-group-vertical" role="group" >
<button type="button" class="btn btn-default"><p><a href="/personas">Persona</a></p></button>
<button type="button" class="btn btn-default"><p><a href="/proyectos">Proyecto</a></p></button>
<button type="button" class="btn btn-default"><p><a href="/clientes">Cliente</a></p></button>
<button type="button" class="btn btn-default"><p><a href="/rols">Rol</a></p></button>
<button type="button" class="btn btn-default"><p><a href="/tareas">Tarea</a></p></button>
<button type="button" class="btn btn-default"><p><a href="/etapas">Etapa</a></p></button>
<button type="button" class="btn btn-default"><p><a href="/comentarios">Comentario</a></p></button>
<button type="button" class="btn btn-default"><p><a href="/contactos">Contactos</a></p></button>
<button type="button" class="btn btn-default"><p><a href="/rolpersonas">Rol Personas</a></p></button>
<button type="button" class="btn btn-default"><p><a href="/proyectoetapas">Proyecto Etapa</a></p></button>
<button type="button" class="btn btn-default"><p><a href="/etapatareas">Etapa Tarea</a></p></button>
<button type="button" class="btn btn-default"><p><a href="/cuenta">Cuenta</a></p></button>
</div>


<p>Find me in app/views/welcome/index.html.erb</p>
