<h1>Welcome My Consultora</h1>
<a href="/personas">Persona</a>
<p><a href="/proyectos">Proyecto</a></p>
<p><a href="/clientes">Cliente</a></p>
<p><a href="/rols">Rol</a></p>
<p><a href="/tareas">Tarea</a></p>
<p><a href="/etapas">Etapa</a></p>
<p><a href="/comentarios">Comentario</a></p>
<p><a href="/contactos">Contactos</a></p>
<p><a href="/rolpersonas">Rol Personas</a></p>
<p><a href="/proyectoetapas">Proyecto Etapa</a></p>
<p><a href="/etapatareas">Etapa Tarea</a></p>
<p><a href="/cuenta">Cuenta</a></p>
<p>Find me in app/views/welcome/index.html.erb</p>
